@charset "utf-8";
/* CSS Document */

	/* Resets */
ul {
    padding: 0;
    margin:0 0 20px 0;
    list-style:none;
}
h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}
p {
    padding:0;
    margin:0 0 20px 0;
}
a:link, a:visited {
    text-decoration:underline;
    color:#000;
}
a:hover {
    text-decoration:none;
}
ul li {
    padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px;
}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
}
.logo {
    font:2em Arial;
    margin:0 0 10px 0;
    padding:0;
    width:200px;
    color:#fff;
}
/* Containers */
body {
    background:whitesmoke;
    font-family:Arial;
    font-size:0.8em;
}
#container, footer {
    border: solid lightblue 1px;
    background:#fff;
    width:920px;
    margin:0 auto;
    padding:20px;
}
header {
    width:940px;
    padding:10px;
    margin:0 auto 10px auto;
}
#container {
    min-height:500px;
    border-radius:5px 5px 0 0;
}
footer {
    border-radius:0 0 5px 5px;
}
.widget {
    margin-bottom:20px;
}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
}
.widget .inner {
    margin:0 10px;
}
/* Navigation */
nav {
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    padding: 10px;
    background-image: linear-gradient(#0dccea, #0d70ea);
    float:left;
    padding-left: 30px;
    width: 900px;
    height: 20px;
    border-radius: 6px;
}
nav ul {
    margin:0;
}
nav ul li {
    display:inline-block;
    margin-right:10px;
}
nav ul li a {
    color: white!important;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    text-decoration:none!important;
}
/* Aside */
aside {
    width:260px;
    float:right;
    border-left:1px dashed #aaa;
    padding-left:15px;
}
/* Login */
#login li.link {
    margin-top:5px;
}
/* Footer */
footer {
    border-top:1px dashed #ddd;
    color:#999;
}
/* Misc */
.clear {
    clear:both;
}/* CSS Document */
.button {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#presellcontainer {
    width: 640px;
    margin-left: 70px;
    margin-top: 50px;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 3%;
}

